<!DOCTYPE html>
<html lang="en">
<title><%= title %></title> 
<head>
	<% include ../includes/header %>
		
		<!-- Init -->
		<div class="content-wrapper">
			<section class="content-header">
				
				<ol class="breadcrumb">
					<li> <a href="../../">Dashboard</a></li>
					<li> <a href="../">Ativos</a></li>
					<li class="active">Adicionar</li>
        </ol>
        <h1>Ativos</h1>
        
			</section>

      <!-- Main content -->
      <section class="content">
        <div class="row">

          <div class="col-md-6">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Adicionar Ativo</h3>
              </div>
              
              <form class="form-horizontal">
                <div class="box-body">
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Data</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker">
                      </div>
                    </div>
                    <!-- /.input group -->
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Ativo</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="active" placeholder="Ex: ITSA4">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Quantidade</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="cont" placeholder="Quantidade">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Preço Unitário</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="price" placeholder="Valor">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Taxas</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="rate" placeholder="Taxas">
                    </div>
                  </div>
                </div>
              
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right">Salvar</button>
                </div>
              
              </form>
            </div>
            
          </div>
        </div>
      </section>
		</div>
	
	<% include ../includes/footer %>
</body>
<script>
  $(function () {
    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });
  });
</script>
</html>