<!DOCTYPE html>
<html lang="en">
<title><%= title %></title> 
<head>
	<% include ../includes/header %>
		
		<!-- Init -->
		<div class="content-wrapper">
			<section class="content-header">
				
				<ol class="breadcrumb">
					<li> <a href="../">Dashboard</a></li>
					<li class="active"></i> Ativos</a></li>
        </ol>
        <a href="/actives/add" class="btn btn-success">Adicionar Ativos</a>
			</section>

			<section class="content">
				<div class="row">
          <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
              AAAA
						</div>
					</div>
				</div>
      </section>
		</div>
	
	<% include ../includes/footer %>
</body>
<script>
  
</script>
</html>