<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <label class="info">Versão 1.0.0</label>
  </div>
  <strong>Copyright &copy; 2020 <a target="_blank" href="http://tiagozimmermann.com.br">Tiago Zimmermann</a>.</strong>
</footer>

<aside class="control-sidebar control-sidebar-dark">
  <div class="tab-content">
    <div class="tab-pane" id="control-sidebar-home-tab"></div>
  </div>
</aside>
</div>

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<script src="/plugins/morris/morris.min.js"></script>
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/plugins/knob/jquery.knob.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src='/datatables/datatables.net-buttons/js/dataTables.buttons.min.js'></script>
<script src='/datatables/media/js/jszip.min.js'></script>
<script src='/datatables/pdfmake/pdfmake.min.js'></script>
<script src='/datatables/pdfmake/vfs_fonts.js'></script>
<script src='/datatables/datatables.net-buttons/js/buttons.html5.min.js'></script>

<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script src="/plugins/chartjs/Chart.min.js"></script>
<script src="/plugins/fastclick/fastclick.js"></script>
<script src="/dist/js/app.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script src="/js/bootstrap-select.js"></script>