<header class="main-header">
  <a href="/dashboard" class="logo">
    <span class="logo-mini"><b>Gox</b></span>
    <span class="logo-lg"><b>Gox</b> Invest</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/dist/img/user.png" class="user-image" alt="User Image">
            <span class="hidden-xs">Tiago Teste</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/dist/img/user.png" class="img-circle" alt="User Image">
              <p>Tiago Zimmermann - Admin
                <small>Membro desde Jul/2020</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="/users/edit/<%= session.userId %>" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="/auth/logout" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">

      <li class="treeview">
        <a href="/actives">
          <i class="fa fa-trophy"></i> <span>Ativos</span>
        </a>
      </li>
      <li class="treeview">
        <a href="/yield">
          <i class="fa fa-money"></i> <span>Rendimentos</span>
        </a>
      </li>
      <li class="treeview">
        <a href="/operations">
          <i class="fa fa-th"></i> <span>Operações</span>
        </a>
      </li>
      
      <li class="header">Admin</li>
      <li class="treeview">
        <a href="#">
          <i class="ion ion-settings"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/users"><i class="fa fa-users"></i> Usuários</a></li>
          <li class="active"><a href="/users"><i class="fa fa-university"></i> Proventos</a></li>
        </ul>
      </li>

    </ul>
  </section>
</aside>
