<!DOCTYPE html>
<html lang="en">
<title><%= title %></title> 
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="refresh" content="180"> <!-- refresh on 15 min-->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/fonts/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/css/snepcs.css">
<link rel="stylesheet" href="/css/dashboards.css">

</head>
<body>
<section class="content">
        
    <div id="t1">
        <h1 class="dash-title text-center">Tickets</h1>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-purple"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-purple">
                    <div class="circle-tile-description text-faded"><h1>Todos Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.status.total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.status.open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.status.pending %></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.status.dev %></span>
                        <h4 class="negrito">Em Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.status.in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.status.awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h1 class="dash-title text-center">Tickets por Equipes</h1>
        </div>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-red"><i class="fa fa-gear fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-red">
                    <div class="circle-tile-description text-faded"><h2><%= tickets.groups['2100014249'].group %></h2></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100014249'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-purple"><i class="fa fa-asterisk fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-purple">
                    <div class="circle-tile-description text-faded"><h2><%= tickets.groups['2100028872'].group %></h2></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028872'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-green"><i class="fa fa-gift fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-green">
                    <div class="circle-tile-description text-faded"><h2><%= tickets.groups['2100028871'].group %></h2></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028871'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-yellow"><i class="fa fa-money fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-yellow">
                    <div class="circle-tile-description text-faded"><h2><%= tickets.groups['2100028837'].group %></h2></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028837'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-light-blue-active"><i class="fa fa-code fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-light-blue-active">
                    <div class="circle-tile-description text-faded"><h2><%= tickets.groups['2100028836'].group %></h2></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028836'].total %></span></div>
                </div>
            </div>
        </div>
        
    </div>

    <div id="t2" style="display: none;">
        <h1 class="dash-title text-center">Tickets no Suporte</h1>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-orange-active"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-orange-active">
                    <div class="circle-tile-description text-faded"><h1>Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100014249'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100014249'].open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100014249'].pending%></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100014249'].dev %></span>
                        <h4 class="negrito">Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100014249'].in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100014249'].awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <% if(tickets.groups['2100014249'].tickets.length > 0){ %>
            <h1 class="dash-title text-center">Tickets no Freshdesk</h1>
            <div class="col-lg-12">
                <% Object.keys(tickets.groups['2100014249'].tickets).map(function(key){ %>
                    <div class="col-lg-2">
                        <div class="small-box <%= tickets.groups['2100014249'].tickets[key].color %>">
                            <div class="inner-box text-center">
                                <h4 class="negrito"><%= tickets.groups['2100014249'].tickets[key].id %> (<%= tickets.groups['2100014249'].tickets[key].created %>)</h4>
                                <h5 class="negrito">Produto: <%= tickets.groups['2100014249'].tickets[key].product %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div id="t3" style="display: none;">
        <div class="col-lg-12">
            <h1 class="dash-title text-center">Tickets no Desenvolvimento</h1>
        </div>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-aqua"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-aqua">
                    <div class="circle-tile-description text-faded"><h1>Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028836'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028836'].open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028836'].pending%></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028836'].dev %></span>
                        <h4 class="negrito">Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028836'].in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028836'].awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <% if(tickets.groups['2100028836'].tickets.length > 0){ %>
            <h1 class="dash-title text-center">Tickets no Freshdesk</h1>
            <div class="col-lg-12">
                <% Object.keys(tickets.groups['2100028836'].tickets).map(function(key){ %>
                    <div class="col-lg-2">
                        <div class="small-box <%= tickets.groups['2100028836'].tickets[key].color %>">
                            <div class="inner-box text-center">
                                <h4 class="negrito"><%= tickets.groups['2100028836'].tickets[key].id %> (<%= tickets.groups['2100028836'].tickets[key].created %>)</h4>
                                <h5 class="negrito">Produto: <%= tickets.groups['2100028836'].tickets[key].product %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div id="t4" style="display: none;">
        <h1 class="dash-title text-center">Tickets no Snep Livre</h1>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-red"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-red">
                    <div class="circle-tile-description text-faded"><h1>Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028872'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028872'].open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028872'].pending%></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028872'].dev %></span>
                        <h4 class="negrito">Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028872'].in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028872'].awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <% if(tickets.groups['2100028872'].tickets.length > 0){ %>
            <div class="col-lg-12">
                <h1 class="dash-title text-center">Tickets no Freshdesk</h1>
            </div>
            <div class="col-lg-12">
                <% Object.keys(tickets.groups['2100028872'].tickets).map(function(key){ %>
                    <div class="col-lg-2">
                        <div class="small-box <%= tickets.groups['2100028872'].tickets[key].color %>">
                            <div class="inner-box text-center">
                                <h4 class="negrito"><%= tickets.groups['2100028872'].tickets[key].id %> (<%= tickets.groups['2100028872'].tickets[key].created %>)</h4>
                                <h5 class="negrito">Produto: <%= tickets.groups['2100028872'].tickets[key].product %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div id="t5" style="display: none;">
        <h1 class="dash-title text-center">Tickets no Snep PBX</h1>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-purple"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-purple">
                    <div class="circle-tile-description text-faded"><h1>Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028871'].total %></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028871'].open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028871'].pending%></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028871'].dev %></span>
                        <h4 class="negrito">Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028871'].in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028871'].awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <% if(tickets.groups['2100028871'].tickets.length > 0){ %>
            <div class="col-lg-12">
                <h1 class="dash-title text-center">Tickets no Freshdesk</h1>
            </div>
            <div class="col-lg-12">
                <% Object.keys(tickets.groups['2100028871'].tickets).map(function(key){ %>
                    <div class="col-lg-2">
                        <div class="small-box <%= tickets.groups['2100028871'].tickets[key].color %>">
                            <div class="inner-box text-center">
                                <h4 class="negrito"><%= tickets.groups['2100028871'].tickets[key].id %> (<%= tickets.groups['2100028871'].tickets[key].created %>)</h4>
                                <h5 class="negrito">Produto: <%= tickets.groups['2100028871'].tickets[key].product %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div id="t6" style="display: none;">
        <h1 class="dash-title text-center">Tickets no Comercial</h1>

        <div class="col-lg-3">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading bg-maroon"><i class="fa fa-ticket fa-fw fa-4x"></i></div></a>
                <div class="circle-tile-content bg-maroon">
                    <div class="circle-tile-description text-faded"><h1>Tickets</h1></div>
                    <div class="circle-tile-number text-faded "><span class="info1"><%= tickets.groups['2100028837'].total %></span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 pt-main">
            <div class="col-lg-6">
                <div class="small-box bg-maroon">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028837'].open %></span>
                        <h4 class="negrito">Aberto (Não foi tratado)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028837'].pending%></span>
                        <h4 class="negrito">Pendente (Esperando reposta)</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-light-blue-active">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028837'].dev %></span>
                        <h4 class="negrito">Desenvolvimento</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028837'].in_progress %></span>
                        <h4 class="negrito">Em Progresso</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <span class="info1"><%= tickets.groups['2100028837'].awaiting %></span>
                        <h4 class="negrito">Aguardando Solução</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-speedometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <% if(tickets.groups['2100028837'].tickets.length > 0){ %>
            <div class="col-lg-12">
                <h1 class="dash-title text-center">Tickets no Freshdesk</h1>
            </div>
            <div class="col-lg-12">
                <% Object.keys(tickets.groups['2100028837'].tickets).map(function(key){ %>
                    <div class="col-lg-2">
                        <div class="small-box <%= tickets.groups['2100028837'].tickets[key].color %>">
                            <div class="inner-box text-center">
                                <h4 class="negrito"><%= tickets.groups['2100028837'].tickets[key].id %> (<%= tickets.groups['2100028837'].tickets[key].created %>)</h4>
                                <h5 class="negrito">Produto: <%= tickets.groups['2100028837'].tickets[key].product %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div id="t7" style="display: none;">
        <h1 class="dash-title text-center">Negociações aguardando a engenharia</h1>

        <% if(leads.total > 0){%>

            <div class="col-md-6 col-md-offset-3">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading bg-maroon"><i class="fa fa-money fa-fw fa-4x"></i></div></a>
                    <div class="circle-tile-content-plug bg-maroon">
                        <div class="circle-tile-description text-faded"><h1>Negociações</h1></div>
                        <div class="circle-tile-number text-faded "><span class="info1"><%= leads.total %></span></div>
                    </div>
                </div>
            </div>

            <% Object.keys(leads.deals).map(function(key){ %>
                <div class="col-lg-6">
                    <div class="small-box bg-light-blue-active">
                        <div class="inner-box text-center">
                            <h4 class="negrito">Lead: <%= leads.deals[key].name %></h4>
                            <h4 class="negrito">Empresa: <%= leads.deals[key].organization.name %></h4>
                            <h4 class="negrito">Criado: <%= moment(leads.deals[key].created_at).format('DD/MM/YYYY') %></h4>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% }else{ %>
            <br><br><br>
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert"><h1><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  Todas as negociações já foram tratadas pela engenharia.</h1></div>
            </div>
        <% } %>
                    
    </div>

    
    <div class="time-div">
        <h4 class="pull-right" id="time">15</h4>
    </div>    
</section>
    
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/js/app.min.js"></script>
</body>

<script>

cont = 14;
st = setInterval(function(){
    if(cont >= 0){
        $('#time').text(cont)
        cont--;
    }else{
        cont = 14;
    }
}, 1000)

var v = 1;
setInterval(function(){
    $('#t'+v).hide();
    
    if(v<7){
        v++;
    }else{
        v = 1;
    }        
    $('#t'+v).show();
}, 16000);
</script>
</html>