<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include includes/header %>
		
		<!-- Init -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>Dashboard</h1>
				<ol class="breadcrumb">
					<li class="active">Dashboard</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">

					
					<legend class="text-center">Atalhos Rápidos</legend>

					<div class="col-lg-4 col-xs-12">
						<a href="#">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>111</h3>
									<p>222</p>
								</div>
								<div class="icon">
									<i class="ion ion-ios-speedometer"></i>
								</div>
							</div>
						</a>
					</div>
				</div>

			</section>
		</div><!-- end -->
	
	<% include includes/footer %>
</body>

</html>