<!doctype html>
<html>
<head>
    <title>ITC Server</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/itc.css"> -->

    <style>
        body         { padding-top:10px; }
    </style>
</head>
<body>
<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Login</a></li>
        <li><a href="/sneps">SNEPs Count</a></li>
        <li><a href="/sneps/activations">SNEPs Activations</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
