body{
    background:#263036;
}
.white{
    color: #fff;
}
.group-title{
    font-size: 36px;
    text-align: center;
}
.inner-box{
    padding: 1px;
}
.pt-main{
    padding-top: 10px;
}
.info1{
    font-size: 30px;
    font-weight: bold;
}
.info2{
    font-size: 40px !important;
    font-weight: bold !important;
}
.info-tickets{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.dash-title{
    color:#fff; 
    font-size: 36px;
    font-weight: bold;
}
.time-div{
    position:absolute;
    right:20px;
    bottom:10px;
    color: #fff;
}
.negrito{
    font-weight: bold;
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-content-plug {
    padding-top: 20px;
    border-radius: 100px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

