.menu ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    clear: both;
	    /*overflow: hidden;*/
	    background-color: #333;
	    position: fixed; /* Set the navbar to fixed position */
	    top: 0; /* Position the navbar at the top of the page */
	    height: 50px;
	    width: 100%; /* Full width */
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    padding: 16px;
	    text-decoration: none;
	}
.content body {
	padding-top:50px;
}
.alert span {
	color: red;
}
.table > tbody > tr > td {
    vertical-align: middle !important;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
