.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 10px;
}

#map {
  height: 400px;
  width: 100%;
}

.del_field-map {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #dd4b39;
  border: solid 1px #d73925;
}

.del_field {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #dd4b39;
  border: solid 1px #d73925;
}

.del_field_text {
  width: 10px;
  height: 10px;
  color: #ffffff;
}

.add_field-map {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #00a65a;
  border: solid 1px #008d4c;
}

.add_field {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #00a65a;
  border: solid 1px #008d4c;
}

.add_field_text {
  width: 10px;
  height: 10px;
  color: #ffffff;
}

.label-check{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 20px;
}

.check-escopes{
	position: absolute;
	right: 9000px;
}

/*Check box*/
.check-escopes, .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}